<%- include('layout.ejs'); %>

<style>
  .ui-autocomplete {
    max-height: 200px;
    width: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    border: 1px solid #ccc;
  }

  .ui-menu-item {
    padding: 8px;
    cursor: default;
  }

  .ui-state-focus {
    background-color: #ddd;
  }
  .ui-helper-hidden-accessible{
  display: none;
}
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container d-flex justify-content-end">
    <% if (user != null) { %>
    <a href="/log-out" class="btn btn-primary ms-auto me-100">Log out</a>
    <% } %>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-6" style="padding: 10px;">
      <div class="card">
        <h5 class="card-header"><i class="fa-solid fa-plus mr-2"></i>Add Game</h5>
        <% if (alert != null) {
          if (alert.action == "ADD_CAMPAIGN") {
            let bannerType = alert.error ? "danger" : "success";
        %>
        <div class="alert alert-<%- bannerType %> alert-dismissible fade show" role="alert">
          <%- alert.message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% 
          }
        } %>
        <form method="post" action="/campaign">
          <div class="card-body">
            <input type="text" name="gameName" id="gameNameInput" class="form-control" placeholder="Name" style="width: 100%;">
            <script>
              $(document).ready(function() {
                $('#gameNameInput').autocomplete({
                  source: function(request, response) {
                    var gameName = request.term;

                    if (gameName.length < 1) {
                      response([]);
                      return;
                    }

                    $.ajax({
                      url: `https://api.rawg.io/api/games?key=7c3304c23b1c45f0811ed3b73d0ede07&search=${gameName}&page_size=5`,
                      method: 'GET',
                      success: function(data) {
                        var gameNames = data.results.map(function(game) {
                          return game.name;
                        });
                        response(gameNames);
                      },
                      error: function(error) {
                        console.log(error);
                      }
                    });
                  },
                  messages: {
                    noResults: '',
                    results: function() {}
                  }
                });
              });
            </script>
            <div class="row my-3">
              <div class="col">
                <input type="text" name="offerStore" id="offerStoreInput" class="form-control" placeholder="Store">
              </div>
              <script>
                $(document).ready(function() {
                  $('#offerStoreInput').autocomplete({
                    source: function(request, response) {
                      var storeName = request.term;

                      if (storeName.length < 1) {
                        response([]);
                        return;
                      }

                      $.ajax({
                        url: `https://api.rawg.io/api/stores?key=7c3304c23b1c45f0811ed3b73d0ede07&search=${storeName}&page_size=5`,
                        method: 'GET',
                        success: function(data) {
                          var storeNames = data.results.map(function(store) {
                            return store.name;
                          });
                          response(storeNames);
                        },
                        error: function(error) {
                          console.log(error);
                        }
                      });
                    },
                    messages: {
                      noResults: '',
                      results: function() {}
                    }
                  });
                });
              </script>
            </div>

            <div class="row">
              <div class="col">
                <input type="text" name="offerLink" class="form-control" placeholder="Link">
              </div>
              <div class="col">
                <input type="text" name="offerType" class="form-control" placeholder="Type">
              </div>
              <div class="col">
                <input type="text" name="offerEndDate" class="form-control" placeholder="End date">
              </div>
            </div>

            <div class="row-6 mt-3">
              <button type="submit" class="btn btn-primary mx-auto float-end mb-3">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-6" style="padding: 10px;">
      <div class="card">
        <h5 class="card-header"><i class="fa-solid fa-bullhorn mr-2"></i>Notification</h5>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col">
              <input type="text" class="form-control" placeholder="Header">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <textarea class="form-control" placeholder="Message"></textarea>
            </div>
          </div>
          <div class="row-6 my-5">
            <a href="#" class="btn btn-primary mx-auto float-end">Send</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 mt-5">
    <div class="card">
      <h5 class="card-header"><i class="fa-solid fa-list mr-2"></i>Active campaigns</h5>
      <% if (alert != null) {
          if (alert.action == "DELETE_CAMPAIGN") {
            let bannerType = alert.error ? "danger" : "success";
        %>
      <div class="alert alert-<%- bannerType %> alert-dismissible fade show" role="alert">
        <%- alert.message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% 
          }
        } %>
      <script>
        function reformatDate(dateString) {
            var date = new Date(dateString);
            
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            var hours = date.getHours();
            var minutes = date.getMinutes();
            
            day = (day < 10) ? '0' + day : day;
            month = (month < 10) ? '0' + month : month;
            hours = (hours < 10) ? '0' + hours : hours;
            minutes = (minutes < 10) ? '0' + minutes : minutes;
            
            var reformattedDate = day + '/' + month + '/' + year + ' ' + hours + ':' + minutes;
            
            return reformattedDate;
        }  
      </script>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Name </th>
                <th>Store</th>
                <th>Type</th>
                <th>End date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% for (let campaign of locals.campaigns) { %>
              <tr>
                <td><%- campaign.game_name %></td>
                <td><%- campaign.offer_store %></td>
                <td><%- campaign.offer_type %></td>
                <td>
                  <script>
                    document.write(reformatDate("<%- campaign.offer_end_date %>"))
                  </script>
                </td>
                <td>
                  <a href="/campaign/delete/<%- campaign._id %>" class="btn btn-danger btn-sm float-end">Delete</button>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</body>

</html>